
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #360808;
            color: #ffffff;
        }

        header {
            background-color: #110404;
            padding: 20px;
            text-align: center;
        }

        .menu ul {
            display: flex;
            list-style: none;
            background-color: #a82f11;
            padding: 10px;
            margin: 0;
            justify-content: center;
        }

        .menu li {
            margin: 0 15px;
        }

        .menu a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

        .menu a:hover {
            color: crimson;
        }

        .conteudo {
            padding: 40px;
            max-width: 900px;
            margin: auto;
        }

        .destaque {
            color: crimson;
            font-weight: bold;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #1a1a1a;
            margin-top: 30px;
        }

        #rodape{
            background-color: #360808;
            color: white;
            text-align: center;
            padding: 10px;
        }